{% extends 'main/loy.html'%}
{% block tit%}
    ОН-ПРЕКРАСЕН
{% endblock %}
{% block telo %}

    <h1>Кто же он ?</h1>
    <h2>Происхождение имени Никита</h2>
    <p>
Имя Никита происходит от древнегреческого слова Νικήτας, что означает «победитель». Это имя носили многие святые и мученики, среди которых особо почитаем на Руси святой великомученик Никита Готфский. В настоящее время это имя — одно из самых популярных в России. </p>

    <h2>Характер имени Никита</h2>
    <p>В детстве Никита проявляет активность и стремление к лидерству. Любит быть в центре внимания, легко заводит новых друзей и часто становится организатором игр и мероприятий. Обладает живым умом, хорошей памятью и способностью быстро усваивать новые знания.

В подростковом возрасте характер Никиты претерпевает изменения. Он становится более самостоятельным, независимым и стремится к самоутверждению. Никита начинает формировать жизненные принципы и ценности, которым остается верен на протяжении всей жизни. Может проявлять упрямство и своеволие, отстаивая свою точку зрения. В этот период важно направить его энергию в конструктивное русло, поддержать увлечения и помочь раскрыть таланты.

Во взрослой жизни Никита проявляет себя как сильная личность с твердым характером. Это целеустремленный и решительный мужчина. Обладает лидерскими качествами. Никита умеет принимать решения и брать на себя ответственность. Легко находит выход из сложных ситуаций и принимает верные решения. Никита не терпит лжи и предательства, ценит искренность и преданность в отношениях. </p>

{% endblock %}